
vendor/
log
example/
/index.php
/views/
/public
.DS_Store
node_modules/
test/
test2/
index.html
test.mp4
watermark

/*.php
/*.so
/*.c
/*.html
/*.rest
/*.crt
/*.key
src/Task/
src/Trait/Taskable.php
src/Auditor
